
<h2> Flowers</h2>


<h2><%=flower.name%></h2>

<img src="<%=flower.img%>" width="400" height="400"></img>

<p><%=flower.description%></p>

<h3>Phone: <%=flower.phone%></h3>

<h3>Location:<%=flower.location%></h3>



<a href="/servicestypes/types">&larr; BACK BRYDS TICKS</a>