
<h1> Hairstylists</h1>


<% hairstyle.forEach( s=> { %>


    <h2><%=s.name%></h2>
    
    <img src="<%=s.img%>" width="400" height="400"></img>
    
    <p><%=s.description%></p>
    
    <h3>Phone: <%=s.phone%></h3>
    
    <h3>Location:<%=s.location%></h3>

    <form action="/servicestypes/new" method="POST">
        <input type="hidden" name="serviceId" value="<%=s.id %>">
        <button type="submit">RESERVE</button>
    </form>
<% }) %>



<a href="/servicestypes/types">&larr; BACK to fiancee TICKS</a>